# Compute relative heights 


This file reads in the entire cleaned dataset with all labels and then creates an additional column with the relative heights

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Define path variables and file name  
FILE_PATH = r"../DATA"
FILE_NAME_INPUT = r"/insert_file_name_here.txt"
FILE_NAME_OUTPUT = r"/insert_file_name_here.csv"
df = pd.read_csv(FILE_PATH+FILE_NAME_INPUT, delimiter=',')

# Rename the column 
df = df.rename(index=str, columns={"//X": "X"})
# Obtain number of observations
n = df.iloc[0,0]
#Print number of instances as control value
print "number of points in dataset", int(n)
# Get rid of first line with number of observations
df = df.drop(df.index[0])

# Test whether there are any NAN values in the data set 
if df.isnull().values.any() == False:
    print("No Nan in this data set")
else:
    print("There are Nan in this dataset")

# Create a new column with relative height 
# Positive rel_height if the point is higher, and negative rel_height if point is lower
# than the scanner
df['relative_height']=df['Z'] - df['z_origin']
# Save file
df.to_csv(FILE_PATH+FILE_NAME_OUTPUT,delimiter=',')

,//X,Y,Z,x_origin,y_origin,z_origin,reflectance,theta,id,class,range
0,1.119574e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.905366e+03,21122.066406,38.933224,1907.877197,21121.603516,41.376007,-13.619655,-0.768320,0.0,303040192.0,3.53375
2,1.905375e+03,21122.064453,38.932835,1907.876831,21121.603516,41.376328,-11.919655,-0.766206,0.0,303040192.0,3.52700
3,1.905385e+03,21122.062500,38.932552,1907.876587,21121.603516,41.376652,-13.229655,-0.764052,0.0,303040192.0,3.52000
4,1.905392e+03,21122.060547,38.928898,1907.876221,21121.603516,41.376984,-11.939655,-0.761857,0.0,303040192.0,3.51775