# Machine Learning now

In [1]:
import pandas as pd
import os
import numpy as np
import sklearn 
import scipy.linalg as scplinag
from sklearn.neighbors import KDTree
from scipy.spatial import distance

# Scenario B

Take the same features as in Scenario 1, add all of them in the same high-dim vector and add the reflectance as well. So we can see if that changes anything. 

Here, we just create the feature vector, wait for new optimised results for RF.

In [8]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_PATH_ScenarioB = r"../DATA/ML_datasets/ScenarioB"

FILE_NAME_50_ref = r"/ML_dataset_50NN_reflectance.txt"
FILE_NAME_10_ref = r"/5_Data_ML_attributes_10NN.txt"
FILE_NAME_100_ref = r"/5_Data_ML_attributes_100NN.txt"

# Read in file with 50NN and reflectance this will be the base file
# call it df1
df_main = pd.read_csv(FILE_PATH_ScenarioB+FILE_NAME_50_ref, delimiter=',')

In [12]:
# Now read in the files for 10 and 100 NN features  
df_10 = pd.read_csv(FILE_PATH+FILE_NAME_10_ref, delimiter=',')

In [15]:
#df_100 = pd.read_csv(FILE_PATH+FILE_NAME_100_ref, delimiter=',')

In [ ]:
# now I need to get rid of all columns I dont need, i.e. everything apart from lambdas

In [10]:
df_main.head()

,class,lambda1,lambda2,lambda3,lambda4,lambda5,lambda6,lambda7,lambda8,local_density,relative_height,verticality,reflectance
0,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5026.894441,-2.497189,0.000847,-13.679660
1,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,5919.450657,-2.498982,0.000847,-10.869660
2,1,0.091891,0.906582,0.001527,0.000143,0.998473,0.016431,0.002449,0.000799,6452.219916,-2.498448,0.000847,-13.969661
3,1,0.303962,0.694588,0.001450,0.000140,0.998550,0.015981,0.002376,0.000854,7348.980491,-2.500576,0.000847,-10.199661
4,1,0.329116,0.669345,0.001539,0.000147,0.998461,0.016326,0.002438,0.000920,9432.417831,-2.500191,0.000902,-10.459662

In [13]:
df_10.head()

,X,Y,Z,class,lambda1,lambda2,lambda3,lambda4,lambda5,lambda6,lambda7,lambda8,local_density,radius_neighbourhood,relative_height,verticality
0,1905.494751,21122.037109,38.884586,2,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,25877.928393,0.046644,-2.497189,0.000847
1,1905.502930,21122.035156,38.883110,2,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,46635.546755,0.038329,-2.498982,0.000847
2,1905.512939,21122.033203,38.883949,2,0.189010,0.808544,0.002447,0.000028,0.997553,0.003467,0.000408,0.001349,75836.463465,0.032594,-2.498448,0.000847
3,1905.520874,21122.031250,38.882137,2,0.350668,0.646708,0.002624,0.000033,0.997376,0.003784,0.000451,0.001588,82825.790636,0.031650,-2.500576,0.000847
4,1905.531128,21122.029297,38.882839,2,0.391125,0.603946,0.004929,0.000041,0.995071,0.003847,0.000460,0.003054,82835.520399,0.031649,-2.500191,0.000902

In [ ]:
df_100.head()

In [32]:
df2 = pd.read_csv(FILE_PATH+'/Dataset_for_ML_verticality.txt', delimiter=',')

In [16]:
# Clean variables I domnt need right now
df = None
corr_matrix = None
X = None
y = None
data = None

In [17]:
df_main = None

In [18]:
df_10 = None