In [1]:
import pandas as pd
import os
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
import scipy.linalg as scplinag
from sklearn.neighbors import KDTree

In [2]:
# Define a data frame with all my data# Define  
FILE_PATH = r"../DATA"
FILE_NAME = r"/Dataset_for_ML_SurfaceNormals.txt"
IMAGE_FILE_PATH = r"images"
df = pd.read_csv(FILE_PATH+FILE_NAME, delimiter=',')
df.head()

,//X,Y,Z,Scalar field,Scalar field #2,Scalar field #3,Scalar field #4,Scalar field #5,Nx,Ny,Nz
0,1905.494751,21122.037109,38.884586,-13.679660,-0.729575,3.47450,-2.497189,2.0,-0.032031,0.025831,0.999153
1,1905.502930,21122.035156,38.883110,-10.869660,-0.727414,3.46975,-2.498982,2.0,-0.032031,0.025831,0.999153
2,1905.512939,21122.033203,38.883949,-13.969661,-0.725307,3.46200,-2.498448,2.0,-0.032031,0.025831,0.999153
3,1905.520874,21122.031250,38.882137,-10.199661,-0.723132,3.45775,-2.500576,2.0,-0.032031,0.025831,0.999153
4,1905.531128,21122.029297,38.882839,-10.459662,-0.720937,3.45000,-2.500191,2.0,-0.032029,0.027896,0.999098

In [3]:
# Test whether there are any NAN values in the data set 
if df.isnull().values.any() == False:
    print("No Nan in this data set")
else:
    print("There are Nan in this dataset")

No Nan in this data set

In [4]:
df['verticality'] = 1 - df['Nz']

In [5]:
df.head()

,//X,Y,Z,Scalar field,Scalar field #2,Scalar field #3,Scalar field #4,Scalar field #5,Nx,Ny,Nz,verticality
0,1905.494751,21122.037109,38.884586,-13.679660,-0.729575,3.47450,-2.497189,2.0,-0.032031,0.025831,0.999153,0.000847
1,1905.502930,21122.035156,38.883110,-10.869660,-0.727414,3.46975,-2.498982,2.0,-0.032031,0.025831,0.999153,0.000847
2,1905.512939,21122.033203,38.883949,-13.969661,-0.725307,3.46200,-2.498448,2.0,-0.032031,0.025831,0.999153,0.000847
3,1905.520874,21122.031250,38.882137,-10.199661,-0.723132,3.45775,-2.500576,2.0,-0.032031,0.025831,0.999153,0.000847
4,1905.531128,21122.029297,38.882839,-10.459662,-0.720937,3.45000,-2.500191,2.0,-0.032029,0.027896,0.999098,0.000902